.search-bar {
  width: 30rem;
  max-width: 100%;
  margin-bottom: 8rem;
  border-bottom: 2px solid var(--color-tertiary);

  position: relative;
  font-size: 1.6rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /*  COLORS  */
  --color-primary: #ffffff;
  --color-secondary: #111111;
  --color-tertiary: #999999;
  --color-dim-white: #f5f5f5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 1.6rem;
  line-height: 1.5;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    
} */

a,
a[href=""] {
  text-decoration: none;
}

.container {
  width: 124rem;
  max-width: 100%;
  margin: 0rem auto;
}
@media (max-width: 1280px) {
  .container {
    padding: 0rem 10rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0rem 4rem;
  }
}

/* Navbar */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: var(--color-secondary);
  color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

.navbar .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;

  height: 100%;
  padding: 2rem;

  display: grid;
  place-content: center;
}

.navbar a.is-active {
  border-bottom: 4px solid #ffffff;
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 1.4rem;
  }
}

/* Header */
.header {
  width: 100%;
  height: 100vh;
  padding-top: 15rem;
  padding-bottom: 5rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  position: relative;
}

.title,
.subtitle {
  width: 60rem;
  max-width: 100%;
}

.title {
  font-size: 7.2rem;
}

.subtitle {
  margin-bottom: 3rem;
}

.sample-wallpaper {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}

.wallpaper {
  height: 25rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.wallpaper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
